.spinner{
    margin-right:-2px;display:block;background-repeat-y:initial;background-repeat-x:initial;background-color:rgb(255, 255, 255);animation-play-state:paused
  }

  .circle-spinner{
    transform:matrix(1, 0, 0, 1, 0, 0);animation-play-state:paused
  }